.sidebar {
  background-color: #2f2d3a;
  height: 100%;
  align-items: center;
  padding: 1rem;
}

.sidebar .custom-button {
  width: 100%;
  background-color: #FDD1B1;
  border: none;
  color: black;
  font-weight: bold;
}

.sidebar .custom-button:hover {
  background-color: #ad898a;
  color: black;
}

.sidebar .card-container {
  height: 100vh;
  overflow-y: auto;
}

.sidebar .card-container::-webkit-scrollbar {
  width: 0px;
}